.settings #dialog-add-members {
    position: absolute !important;
}
.settings #dialog-add-members .MuiBackdrop-root {
    position: absolute !important;
    height: 120% !important;
}

.settings #dialog-change-title {
    position: absolute !important;
}
.settings #dialog-change-title .MuiBackdrop-root {
    position: absolute !important;
    height: 120% !important;
}

.d-block {
    display: block !important;
}

.d-none {
    display: none !important;
}
